<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Song | Spotify Session App</title>
    <link rel="stylesheet" href="static/css/shared.css">
    <link rel="stylesheet" href="static/css/add-song.css">
    <link rel="icon" type="image/x-icon"  href="../../static/icons/favicon.ico">
    <script type="module" src="static/javascript/add-song.js"></script>
    <script type="module" src="static/javascript/login-logout-redirect.js"></script>
</head>
<body>
    <div id="banner">
        <h1>Welcome </h1>
    </div>
    
    <div id="content">
        <button id="logout" onclick="logout()">Logout</button>
        <p>Songname:</p>
        <input id="song-input">
    </div>

    <div id="tabs">
        <button style="background-color: green; color: white;">Add Song</button>
        <button onclick="redirect('/playlist')">Playlist</button>
        <button onclick="redirect('/admin')">Admin</button>
    </div>

</body>
</html>
