<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin | Spotify Session App</title>
    <link rel="stylesheet" href="static/css/shared.css">
    <link rel="icon" type="image/x-icon"  href="static/icons/favicon.ico">
</head>
<body>
    <div id="banner">
        <h1>Welcome </h1>
    </div>
    
    <div id="content">
        <button id="logout" onclick="logout()">Logout</button>
        <button onclick="window.location.href='/spotify/admin/login'">spotify login</button>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <button onclick="httpRequest('/spotify/admin/pause', 'put')">⏸</button>
        <button onclick="httpRequest('/spotify/admin/play', 'put')">⏵</button>
        <button onclick="httpRequest('/spotify/admin/skip', 'put')">⏭</button>
    </div>

    <div id="tabs">
        <button onclick="redirect('/addSong')">Add Song</button>
        <button onclick="redirect('/playlist')">Playlist</button>
        <button onclick="redirect('/wishlist')">Wishlist</button>
        <button style="background-color: green; color: white;">Admin</button>
    </div>

    <script type="module" src="static/javascript/login-logout-redirect.js"></script>
    <script type="module" src="static/javascript/http-requests.js"></script>
</body>
</html>
