<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist | Spotify Session App</title>
    <link rel="stylesheet" href="static/css/shared.css">
    <link rel="icon" type="image/x-icon"  href="static/icons/favicon.ico">
</head>
<body>
    <div id="banner">
        <h1>Welcome </h1>
    </div>
    
    <div id="content">
        <button id="logout" onclick="logout()">Logout</button>
        <h1>Placeholder</h1>
    </div>

    <div id="tabs">
        <button>Add Song</button>
        <button style="background-color: green; color: white;">Playlist</button>
        <button>Admin</button>
    </div>

</body>
</html>
