body {
    font-family: Arial, sans-serif;
    font-size: 2rem;
}

/* mobile */
@media (max-width: 1000px) {
    body {
        text-align: center;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 5rem;
        margin-bottom: 1.5em;
        color: green;
    }
    p {
        font-size: 4rem;
        text-align: left;
        margin-left: 12.5%;
        margin-bottom: 0.7em;
    }
    input {
        font-size: 3rem;
    }
    button {
        font-size: 3rem;
    }
}